/* Style sheet for Resume_Components directory and Resume.js*/
/* CSS layer organization:
    #top-level-container
        .routes
            .resume-container
                .resume-left-column
                    .resume-section
                        .resume-item
                            .certification (atomic)
                            .technical-skills-accordion
                                .accordion-title (atomic)
                            .technical-skills-accordion-details (atomic)

                .resume-right-column
                    .resume-section
                        .resume-item
                            .pro-exp-accordion
                                .accordion-title (atomic)
                                .accordion-subtitle (atomic)
                            .pro-exp-accordion-details (atomic)
                            .education-accordion
                                .accordion-title (atomic)
                                .accordion-subtitle (atomic
                            .education-accordion-details (atomic)

                .top-bar
                    .top-bar-logo
                    .top-bar-name
        */
@import url("./Utility/Theme.css");

#resumeHeader{
    display: block;
}
card{
    padding: 0 16px;
}

#top-level-container{
    margin: 0;
    padding: 0;
}

.accordion-title {
    font-family: 'Varela', serif;
    font-weight: bold;
    padding-left: 1em;
}

.accordion-subtitle {
    font-family: 'Varela', serif;
    font-style: italic;
    color: var(--primary-main);
    padding-left: 1em;
}


.certification{
    padding: 4px 0;
}

.clearance-sx {
    margin: 1em;
    padding: 1em;
}

.column {
    border-radius: 5px;
    margin: 0;
    padding: 1em;
    justify-content: center;
}

.contact-sx {
    font-family: 'Varela', serif;
    margin-left: 1em;
    margin-right: .5em;
}

.resume-container{
    margin-top: 40px !important;
    display: flex;
    width: 100%;
}

.resume-section{
    margin-left: 25px !important;
    width: 90% !important;
}

.resume-item {
    font-family: 'Varela', serif;
    margin: 10px !important;
    padding: 16px 25px;
}

.sectionHeadings{
    font-family: Varela, serif;
    text-decoration: underline;
    text-decoration-color: var(--secondary-main);
    font-weight: bold;
    padding-left: 40px;
}

.top-bar-logo{
    height: 40px;
}

.list {
    width: 100%;
    max-width: 360px;
    position: relative;
    overflow: auto;
    max-height: 275px;
    padding: 0;
}