/* Style sheet for Resume_Components directory and Resume.js*/

@import url("./Utility/Theme.css");

#resumeHeader{
    display: block;
}

.accordion-title {
    font-family: 'Varela', serif;
    font-weight: bold;
    padding-left: 1em;
}

.accordion-subtitle {
    font-family: 'Varela', serif;
    font-style: italic;
    color: var(--primary-main);
    padding-left: 1em;
}

.accordion-sx {
    font-family: 'Varela', serif;
    margin: 1em;
    width: 100%;
}

.block{
    display: block;
}

.box {
    width: 100%;
    max-width: 360px;
    margin: 1em;
    padding: 1em;
}

.boxShadow{
    box-shadow: 10px 10px 5px ;
}

.centeredText{
    text-align: center;
}

.clearance-sx {
    margin: 1em;
    padding: 1em;
}

.column {
    border-radius: 5px;
    margin: 0;
    padding: 1em;
}

.contact-sx {
    font-family: 'Varela', serif;
    margin-left: 1em;
    margin-right: .5em;
}

.inline{
    display: inline;
}

.resumeContainer{
    display: flex;
    width: 100%;
}

.sectionHeadings{
    font-family: Varela, serif;
    text-decoration: underline;
    text-decoration-color: var(--secondary-main);
    font-weight: bold;
    padding-left: 2em;
    padding-right: 1em;
}

.scroll-sx {
    color: black;
    font-family: 'Varela', serif;
    margin-left: .5em;
    margin-right: .5em;
    border-radius: 1em;
}

.scroll-header-sx{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1em;
    border-radius: 1px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--secondary-main);
}

.text-box {
    font-family: 'Varela', serif;
    margin: 1em;
}

.list {
    width: 100%;
    max-width: 360px;
    position: relative;
    overflow: auto;
    max-height: 275px;
    padding: 0;
}