.description{
    padding-left: 4em;
    margin-bottom: 1em;
}
.label{

    padding-left: 1em;
    font-weight: bold;
}
.valuesHeading{
    padding-left: .5em;
    padding-top: .5em;
}
.valuesContainer{
    padding-left: 1em;
    max-width: 800px;
}